# Solve 401 rewrite and auth conflict on some machines
ErrorDocument 401 "Access Forbidden"

# Basic authentication
<IfModule mod_auth.c>
  AuthType Basic
  AuthName "Restricted Area"
  AuthUserFile "D:/wamp/www/litecart/public_html/admin/.htpasswd"
  Require valid-user
</IfModule>
<IfModule mod_auth_basic.c>
  AuthType Basic
  AuthName "Restricted Area"
  AuthUserFile "D:/wamp/www/litecart/public_html/admin/.htpasswd"
  Require valid-user
</IfModule>