body
{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
select, input, button, textarea, pre
{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
h1, h2, h3, h4, h5, h6
{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}